---
title: "The two-parts step-by-step ionospheric assimilation based on ground-based/spaceborne observations and its verification"
collection: publications
permalink: /publication/2019-05-16-The-two-parts-step-by-step-ionospheric-assimilation-based-on-ground-basedspaceborne-observations-and-its-verification
date: 2019-05-16
venue: 'Remote Sensing'
citation: '**Naifeng Fu**, Peng Guo, Mengjie Wu, Yong Huang, Xiaogong Hu, Zhenjie Hong &quot;The two-parts step-by-step ionospheric assimilation based on ground-based/spaceborne observations and its verification.&quot; Remote Sensing, 2019.'
paperurl: 'https://doi.org/10.3390/rs11101172'
---
Use [Google Scholar](https://scholar.google.com/scholar?q=The+two+parts+step+by+step+ionospheric+assimilation+based+on+ground+based/spaceborne+observations+and+its+verification){:target="_blank"} for full citation